<div class="home-section">
    <h1>Dobrodošli!</h1>
    <h2>Angular Aplikacija - Razvoj višeslojnih aplikacija</h2>
  </div>
  
<div class="appInfo-section">
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Fakultet</h2>
                   <p class="title">Fakulteti koje studenti pohađaju</p>
                   <p>Tabelarni prikaz fakulteta koje studenti mogu da pohađaju</p>
                   <p><button routerLink="/fakultet" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Status</h2>
                   <p class="title">Status studenata</p>
                   <p>Tabelarni prikaz statusa studenata.</p>
                   <p><button routerLink="/status" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div> 
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Departman</h2>
                   <p class="title">Departmani</p>
                   <p>Tabelarni prikaz departmana na fakultetima. Za svaki departman moguće je videti koji studenti ga pohađaju.</p>
                   <p><button routerLink="/departman" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       
   </div>